<%= turbo_frame_tag 'cart', "data-frame-target": "frame" do %>
  <div class="cart-title">
    <h5><%= @cart.orderables.count %> items inside</h5>
    <h2>Your order</h2>
  </div>
  <div class="cart-products">
    <% @cart.orderables.sort_by { |o| o.created_at }.each do |orderable| %>
      <%= render 'cart/cart_product', orderable: orderable, product: orderable.product, quantity: orderable.quantity %>
    <% end %>
  </div>
  <div class="space-filler"></div>

  <div class="cart-footer">
    <div class="cart-price">
      <span><%= I18n.t('total') %>:</span>
      <span><%= format_price(@cart.total) %></span>
    </div>
    <% is_open = OpenHour.is_open? %>
    <div class="checkout-btn <%= @cart.orderables.any? && is_open ? '' : 'disabled' %>">
      <% if !is_open %>
        <%= button_to 'Restaurant closed', root_path, class: 'btn disabled' %>
    <% elsif @cart.orderables.any? %>
        <%= button_to 'Checkout', cart_checkout_path, class: 'btn' %>
      <% else %>
        <%= button_to 'Checkout', root_path, class: 'btn disabled' %>
      <% end %>
    </div>
  </div>
<% end %>
