<main>
  <header>
    <%= image_tag 'cuisine.jpg' %>
    Lupa
  </header>
  <div class="categories">
    <ul id="categories_list">
      <% @categories.each do |category| %>
        <li><%= category.name %></li>
      <% end %>
      <span class="categories__shadow"></span>
    </ul>
  </div>
  <div id="products" class="dishes">
    <% @categories.each do |category| %>
      <div id="<%= category.name.delete(' ') %>" class="dish_category">
        <h2><%= category.name %></h2>
        <div class="dishes-list">
          <% category.products.each do |product| %>
            <%= render 'product', product: product %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</main>
<input type="checkbox" class="hidden aside_open" id="aside_open">
<label id="aside_open_label" for="aside_open" class="aside_open_label">
  <%= image_tag('basket.svg') %>
</label>
<aside data-controller="frame">
  <%= render 'cart/cart' %>
</aside>
