<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lupa</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= javascript_importmap_tags %>
</head>
<body>
<main>
  <header>
    <%= image_tag 'cuisine.jpg' %>
    Lupa
  </header>
</main>
<%= yield %>
</body>
</html>
